<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill.mapper.AtdnMapper">
	<!-- 
	<resultMap type="AtdnMember" id="atdnmember">
		<association property="atdnmem" javaType="AttendanceMember">
			<id column="mno" property="mno"/>
			<result column="aleavestatus" property="aleavestatus"/>
			<result column="aovertimestatus" property="aovertimestatus"/>
			<result column="aleave" property="aleave"/>
			<result column="abtrip" property="abtrip"/>
			<result column="aovertime" property="aovertime"/>
			<result column="aovertimetext" property="aovertimetext"/>
			<result column="astarttime" property="astarttime"/>
			<result column="aendtime" property="aendtime"/>
		</association>
		<association property="member" javaType="Member">
			<id column="mno" property="mno"/>
			<result column="mname" property="mname"/>
			<result column="mdayoff" property="mdayoff"/>
		</association>
		<association property="department" javaType="Department">
			<id column="dno" property="dno"/>
			<result column="dname" property="dname"/>
		</association>
		<association property="position" javaType="Position">
			<id column="pno" property="pno"/>
			<result column="pname" property="pname"/>
		</association>			
	</resultMap>
	 -->	
	 
	 
	<resultMap type="Member" id="member">
		<id column="mno" property="mno"/>
		<result column="mname" property="mname"/>
		<result column="mdayoff" property="mdayoff"/>
	</resultMap>
	<resultMap type="Department" id="department">
		<result column="dname" property="dname"/>
	</resultMap>
	<resultMap type="Position" id="position">
		<result column="pname" property="pname"/>
	</resultMap>
	<resultMap type="AttendanceMember" id="atdnmember">
		<id column="mno" property="mno"/>
		<result column="aleavestatus" property="aleavestatus"/>
		<result column="aovertimestatus" property="aovertimestatus"/>
		<result column="aleave" property="aleave"/>
		<result column="abtrip" property="abtrip"/>
		<result column="aovertime" property="aovertime"/>
		<result column="aovertimetext" property="aovertimetext"/>
		<result column="astarttime" property="astarttime"/>
		<result column="aendtime" property="aendtime"/>
		<collection property="member" resultMap="member"/>
		<collection property="department" resultMap="department"/>
		<collection property="position" resultMap="position"/>
	</resultMap>
	 
	<resultMap type="Attendance" id="attendance">
		<result column="atno" property="atno"/>
		<result column="alogin" property="alogin"/>
		<result column="alogout" property="alogout"/>
		<result column="atime" property="atime"/>
		<collection property="member" resultMap="member"/>
	</resultMap>
	 
	 
	 
	<!-- 사원-근태 조회 -->
	<select id="selectAtdn" resultMap="atdnmember">
		select member_atdn.*, mname, mdayoff, dname, pname from member_atdn 
		join member on member_atdn.mno=member.mno
		join position on member.pno=position.pno
		join department on member.dno=department.dno
		order by member.mno
	</select>
	 
	 
	
	
	<!-- 사원-근태 1명 조회 -->
	<select id="selectAtdnNum" resultType="AttendanceMember">
		select * from member_atdn where mno=#{mno} 
	</select>
	
	<!-- 로그인 할 때 같이 실행되면서 출근시간 -->
	<insert id="insertAtdn" parameterType="attendance">
		<selectKey resultType="int" keyProperty="atno" order="BEFORE">
			select seq_atdn_atno.nextval from dual
		</selectKey>
		insert into attendance values (#{atno}, #{mno},#{alogin},null, null)
	</insert>
	
	<!-- 로그아웃 할 때 실행 -->
	<update id="logoutAtdn">
		update attendance set alogout=#{alogout}, atime = #{atime}
	      where atno = (select atno from
	       (select rownum rn, atdn.* from
	        (select * from attendance where mno = #{mno} order by atno desc) atdn order by atno desc) where rn =1) 
	</update>
	
	<!-- 근태 상태 변경 -->
	<update id="updateAleaveStatus">
		update member_atdn
		<set>
			<if test="aleavestatus!=null and aleavestatus!=''">
			aleavestatus=#{aleavestatus},
			</if>
			<if test="aovertimestatus!=null and aovertimestatus!=''">
			aovertimestatus=#{aovertimestatus},
			</if>
			<if test="aovertime!=null and aovertime!=''">
			aovertime=#{aovertime},
			</if>
			<if test="aleave!=null and aleave!=''">
			aleave=#{aleave},
			</if>
			<if test="abtrip!=null and abtrip!=''">
			abtrip=#{abtrip}
			</if>
			where mno=#{mno}
		</set> 
	</update>
	
	<!-- 출퇴근 조회  -->
	<select id="selectAtdninout" resultMap="attendance">
		select attendance.*, mname from attendance
		join member on member.mno=attendance.mno
		order by member.mno
	</select>
	
	<!-- 사원번호를 전달해 제일 최근 날짜의 출퇴근 조회 -->
	<select id="selectAtdnOne" resultType="Attendance">
		select * from attendance where atno = (select atno from
    (select rownum rn, atdn.* from
        (select * from attendance where mno = #{mno} order by atno desc) atdn order by atno desc) where rn =1)
	</select>
	
	
	
	
	<!-- Member -->
	<select id="selectMemberOne" resultType="Member">
		select * from member where mno=#{mno}
	</select>
	
</mapper>