<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.itwill.mapper.BookInMapper">
	<select id="selectBookInList1" resultType="BookIn">
		select * from bookin order by bcode
	</select>
	
	<resultMap type="BookInBook" id="bookInBook">
		<association property="book" javaType="Book">
			<id column="bcode" property="bcode"/>
			<result column="bname" property="bname"/>
			<result column="bwriter" property="bwriter"/>
			<result column="bprice" property="bprice"/>
			<result column="bquantity" property="bquantity"/>
		</association>
		<association property="bookIn" javaType="BookIn">
			<id column="binno" property="binno"/>
			<result column="bcode" property="bcode"/>
			<result column="inquantity" property="inquantity"/>
			<result column="indate" property="indate"/>
		</association>
		<association property="bookOut" javaType="BookOut">
			<id column="boutno" property="boutno"/>
			<result column="bcode" property="bcode"/>
			<result column="outquantity" property="outquantity"/>
			<result column="outdate" property="outdate"/>
		</association>
	</resultMap>
	
	<resultMap type="Book" id="book">		
		<result column="bcode" property="bcode"/>
		<result column="bname" property="bname"/>
		<result column="bprice" property="bprice"/>
	</resultMap>
	
	<resultMap type="BookStock" id="bookstock">
		<result column="bstockno" property="bstockno"/>
		<result column="stockqty" property="stockqty"/>
		<collection property="book" resultMap="book"/>
	</resultMap>
	
	<!-- 입고 리스트 -->
	<select id="selectBookInList" resultMap="bookInBook">
		select bookin.*, bname, bwriter, bprice, bquantity from bookin join book on bookin.bcode = book.bcode
	</select>
	
	<!-- 출고 리스트 -->
	<select id="selectBookOutList" resultMap="bookInBook">
		select bookout.*, bname, bwriter, bprice, bquantity from bookout join book on bookout.bcode = book.bcode
	</select>
	
	<!-- 재고 리스트 -->
	<select id="selectStockList" resultMap="bookstock">
		select bookstock.* , bname, bprice from bookstock
		join book on book.bcode=bookstock.bcode
		order by book.bcode desc
	</select>
	
	<!-- 입고 삽입 -->
	<insert id="insertBookin">
		<selectKey resultType="int" keyProperty="boutno" order="BEFORE">
			select seq_bookin.nextval from dual
		</selectKey>
		insert into bookin values(#{binno},#{bcode},#{inqty},#{indate})
	</insert>
	<!-- 출고 삽입 -->
	<insert id="insertBookout">
		<selectKey resultType="int" keyProperty="boutno" order="BEFORE">
			select seq_bookout.nextval from dual
		</selectKey>
		insert into bookout values(#{boutno},#{bcode},#{outqty},#{outdate})
	</insert>
	
	<!-- 재고 변경 -->
	<update id="updateStock">
		update bookstock set stockqty = stockqty-#{outqty} where bcode = #{bcode}
	</update>
	
	
</mapper> 