<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.itwill.mapper.BookMapper" >
	<select id="selectAllBookList"  resultType="Book">
			select * from book order by bcode desc
	</select>
	<update id="updateBookLoc"  parameterType="map">
			update book set bloc=#{bloc} where bcode=#{bcode}
	</update>
	<select id="selectBook" resultType="Book" parameterType="string">
			select * from book where bcode=#{bookCode}
	</select>
	
	<insert id="insertBook">
			<selectKey resultType="int" keyProperty="bcode" order="BEFORE">
				select seq_book.nextval from dual
			</selectKey>
			insert into book values (#{bcode}, #{bname}, #{bpublisher}, #{bwriter}, #{bcategory}, #{bprice}, 
			#{bimage}, #{binfo}, #{bloc}, #{bquantity}, #{boutdate}, #{bindate})
	</insert>
	
</mapper>