<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill.mapper.MemberMapper">
	<insert id="insertMember">
<!-- 		<selectKey resultType="int" keyProperty="MNO" order="BEFORE">
			select seq_member.nextval from dual
		</selectKey> -->
		insert into member(MNO, MNAME, MPW, MBIRTH, MPHONE, MEMAIL, MADDRESS, MJOINDATE, MQUITDATE, MQUITREASON, MSTATE, MDAYOFF, DNO, PNO ) 
		values(seq_member.nextval, #{mname}, #{mpw}, #{mbirth}, #{mphone}, #{memail}, #{maddress}, #{mjoindate}, 
			NULL, NULL, 1, 11, #{dno}, #{pno})
	</insert>
	
	<resultMap type="Department" id="department">
		<result column="dname" property="dname"/>
	</resultMap>
	<resultMap type="Position" id="position">
		<result column="pname" property="pname"/>
	</resultMap>
	<resultMap type="Member" id="memberList">
		<id column="mno" property="mno"/>
		<result column="mname" property="mname"/>
		<result column="mbirth" property="mbirth"/>
		<result column="memail" property="memail"/>
		<result column="mphone" property="mphone"/>
		<result column="maddress" property="maddress"/>
		<result column="mjoindate" property="mjoindate"/>
		<collection property="department" resultMap="department"/>
		<collection property="position" resultMap="position"/>
	</resultMap>
	<select id="selectMemberList" resultMap="memberList">
		select M.MNO, M.MNAME, D.DNAME, P.PNAME, M.MBIRTH, M.MJOINDATE, M.MEMAIL, M.MPHONE, M.MADDRESS
		from MEMBER M join DEPARTMENT D on M.DNO = D.DNO join POSITION P on M.PNO = P.PNO
		
	</select>
	
	<select id="selectMember" resultMap="memberList">
		select M.MNO, M.MNAME, D.DNAME, P.PNAME, M.MBIRTH, M.MJOINDATE, M.MEMAIL, M.MPHONE, M.MADDRESS 
		from MEMBER M join DEPARTMENT D on M.DNO = D.DNO join POSITION P on M.PNO = P.PNO 
		where M.MNO=#{mno} or D.DNO=#{dno} or P.PNO=#{pno}
	</select>
	
	<select id="selectRestMember" resultType="Member">
		select MNAME, MBIRTH, MPHONE, MEMAIL, MADDRESS, MQUITDATE, MQUITREASON, MSTATE, MDAYOFF, DNO, PNO
		from MEMBER where mno=#{mno}
	</select>
	
	<update id="updateMember">
		update MEMBER set MNAME=#{mname}, MBIRTH=#{mbirth}, MPHONE=#{mphone}, MADDRESS=#{maddress}
		, MQUITDATE=#{mquitdate}, MQUITREASON=#{mquitreason}
		, MSTATE=#{mstate}, MDAYOFF=#{mdayoff}, DNO=#{dno}, PNO=#{pno} where mno=#{mno} 
	</update>
	
	<delete id="deleteMember">
		delete from MEMBER where MNO=#{MNO}
	</delete>
	
	
</mapper>