<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill.mapper.NoticeMapper">

	<!-- 조인 -->
	<resultMap type="Member" id="member">
		<id column="mno" property="mno"/>
		<result column="mname" property="mname"/>
	</resultMap>
	<resultMap type="Notice" id="noticeRM">
		<id column="nno" property="nno"/>
		<result column="ntitle" property="ntitle"/>
		<result column="ncontent" property="ncontent"/>
		<result column="ndate" property="ndate"/>
		<result column="ncount" property="ncount"/>
		<result column="norigin" property="norigin"/>
		<result column="ncategory" property="ncategory"/>
		<result column="nwriter" property="nwriter"/>
		<result column="nstate" property="nstate"/>
		<collection property="member" resultMap="member"/>
	</resultMap>
	
	<!-- 공지 작성 -->
	<insert id="insertNotice">
		<selectKey resultType="int" keyProperty="nno" order="BEFORE">
			select seq_notice.nextval from dual
		</selectKey>
		insert into notice values(#{nno}, #{ntitle}, #{ncontent}, sysdate,
			0, #{norigin}, #{nupload}, #{ncategory}, #{nwriter}, #{nstate}, #{mno})
	</insert>
	
	<!-- 게시판번호를 전달받아 공지 수정 -->
	<update id="updateNotice">
		update notice set ntitle=#{ntitle}, ncontent=#{ncontent}
			, ncategory=#{ncategory}, nstate=#{nstate} where nno=#{nno}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="countUp">
		update notice set ncount = ncount+1 where nno=#{nno}
	</update>
	
	<!-- ??????? -->
	<select id="noticeCount" resultType="int">
		select count(nno) from notice
	</select>
	
	<!-- 게시판번호를 전달받아 공지 삭제 -->
	<delete id="deleteNotice">
		delete from notice where nno=#{nno}
	</delete>
	
	<!-- 게시판번호를 전달받아 공지 출력(공지 상세 페이지) -->
	<select id="selectNotice" resultType="Notice">
	<!-- <select id="selectNotice" resultMap="noticeMemberResultMap"> -->
		select n.nno, n.ntitle, n.ncontent, n.ndate, n.ncount,
		    n.norigin, n.nupload, n.ncategory, n.nwriter, n.nstate, m.mno
		   	from notice n join member m on n.mno=m.mno where n.nno=#{nno}	
	</select>
	
	<!-- 전체 공지 출력 -->
	<select id="selectNoticeList" resultMap="noticeRM">
	<!-- <select id="selectNoticeList" resultMap="noticeMemberResultMap"> -->
		select n.nno, n.ntitle, n.ncontent, n.ndate, n.ncount,
		    n.norigin, n.nupload, n.ncategory, n.nwriter, n.nstate, m.mno
		    from notice n join member m on n.mno=m.mno order by n.ndate desc
	</select>

</mapper>












