<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill.mapper.OrderMapper">
	<insert id="insertOrder">
		insert into "ORDER"(ono, oid, odate, oqty, oprice, ostate, bcode)
		values(seq_order.nextval,#{oid},sysdate,#{oqty},null,1,#{bcode})
	</insert>
	<resultMap type="Book" id="book">
		<result column="bname" property="bname"/>
		<result column="bpublisher" property="bpublisher"/>
		<result column="bprice" property="bprice"/>
	</resultMap>
	<resultMap type="Order" id="orderList">
		<result column="ono" property="ono"/>
		<result column="oid" property="oid"/>
		<result column="odate" property="odate"/>
		<result column="oqty" property="oqty"/>
		<result column="O.OPRICE" property="oprice"/>
		<result column="ostate" property="ostate"/>	
		<collection property="book" resultMap="book"/>
	</resultMap>
	<select id="selectOrderList" resultMap="orderList">
		SELECT O.ONO, O.OID, B.BNAME, B.BPUBLISHER, O.ODATE, O.OQTY, O.OQTY*B.BPRICE "O.OPRICE", O.OSTATE 
		FROM "ORDER" O JOIN BOOK B ON O.BCODE = B.BCODE	ORDER BY O.ODATE DESC, O.OSTATE ASC
	</select>
	<select id="selectOrder" resultMap="orderList">
		SELECT O.ONO, O.OID, B.BNAME, B.BPUBLISHER, O.ODATE, O.OQTY, O.OQTY*B.BPRICE "O.OPRICE", O.OSTATE 
		FROM "ORDER" O JOIN BOOK B ON O.BCODE = B.BCODE 
		WHERE O.OID=#{oid} OR O.ODATE=#{odate} OR O.OSTATE=#{ostate} ORDER BY ODATE DESC, OSTATE ASC
	</select>

	<select id="selectRestOrder" resultType="Order">
		select OID, OQTY, OSTATE, BCODE from "ORDER" where ono=#{ono}
	</select>

	<delete id="deleteOrder">
		DELETE FROM "ORDER" WHERE ono=#{ono}
	</delete>
	
	<update id="updateOrder">
		UPDATE "ORDER" SET OID=#{oid}, OQTY=#{oqty}, OSTATE=#{ostate}, BCODE=#{bcode} WHERE ONO=#{ono}
	</update>
</mapper>